* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #ccc;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}

.main .container::after {
    content: '';
    position: absolute;
    left: -30px;
    top: -300px;
    background-image: url('./images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 600px;
    height: 600px;
}

.main .container::before {
    content: '';
    position: absolute;
    right: -30px;
    bottom: -300px;
    background-image: url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    z-index: -1;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    background-color: #fff;
    border-radius: 15px;
}

.box .head {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
    align-content: flex-end;
    padding-bottom: 35px;
    gap: 10px;
    position: relative;
}

.box .head::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 15px 15px 0 0;
}

.box .head img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #fff;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.box .head .content {
    font-size: 20px;
    font-weight: 550;
}

.box .head .content span {
    color: hsl(0, 0%, 59%);
    padding-left: 5px;
}

.box .head div:last-child {
    color: hsl(0, 0%, 59%);
    font-size: 18px;
}

.box .sec {
    border-top: 1px solid hsl(0, 3%, 86%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    text-align: center;
}

.box .sec .one {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.box .sec .one div:first-child {
    font-size: 20px;
    font-weight: 600;
}

.box .sec .one div:last-child {
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    letter-spacing: 1.5px;
}

@media (max-width:992px) {
    .main .container::after {
        left: -100px;
        top: -100px;
        width: 500px;
        height: 500px;
    }
    .main .container::before {
        right: -100px;
        bottom: -100px;
        width: 500px;
        height: 500px;
    }
    .box {
        width: 380px;
        height: 420px;
        border-radius: 12px;
    }
    .box .head {
        padding-bottom: 35px;
    }
    .box .head::after {
        border-radius: 12px 12px 0 0;
    }
    .box .head img {
        width: 100px;
        height: 100px;
    }
    .box .head div:last-child {
        font-size: 18px;
    }
    .box .sec {
        padding: 25px 50px;
    }
    .box .sec .one div:first-child {
        font-size: 20px;
    }
    .box .sec .one div:last-child {
        font-size: 12px;
        letter-spacing: 1.5px;
    }
}

@media (max-width:768px) {
    .main .container::after {
        left: -50px;
        top: -50px;
        width: 400px;
        height: 400px;
    }
    .main .container::before {
        right: -50px;
        bottom: -50px;
        width: 400px;
        height: 400px;
    }
    .box {
        width: 320px;
        height: 380px;
        border-radius: 10px;
    }
    .box .head {
        padding-bottom: 30px;
    }
    .box .head::after {
        border-radius: 10px 10px 0 0;
    }
    .box .head .content {
        font-size: 16px;
    }
    .box .head div:last-child {
        font-size: 16px;
    }
    .box .sec {
        padding: 25px 40px;
    }
    .box .sec .one div:first-child {
        font-size: 16px;
    }
    .box .sec .one div:last-child {
        font-size: 10px;
        letter-spacing: 1.5px;
    }
}